<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if infinite %}
        <title>RedirectTest Home</title>
    {% else %}
        <title>RedirectTest Infinite</title>
    {% endif %}
</head>
<body>

{% if infinite %}
    <h3><a href="{{ url_for('index') }}">Home</a> </h3>
    <h2>We support these infinite redirects (they will redirect to themselves):</h2>
{% else %}
    <h1>Welcome</h1>
    <h3>Trying to work with redirects but cant find a site using the one you need? Look no further. This site provides:</h3>
{% endif %}
<ul>
    <li><a href="{{ url_for('meta', inf=infinite) }}">Meta Redirects</a></li>
    <li><a href="{{ url_for('javascript', inf=infinite) }}">Javascript Redirects</a></li>
    <li><a href="{{ url_for('doCode', code=301, inf=infinite) }}">301 Redirects</a></li>
    <li><a href="{{ url_for('doCode', code=302, inf=infinite) }}">302 Redirects</a></li>
    <li><a href="{{ url_for('doCode', code=303, inf=infinite) }}">303 Redirect</a></li>
    <li><a href="{{ url_for('doCode', code=307, inf=infinite) }}">307 Redirect</a></li>
    <li><a href="{{ url_for('doCode', code=308, inf=infinite) }}">308 Redirects</a></li>
</ul>

{% if not infinite %}
We also have <a href="{{ url_for('infinite') }}">Infinite Redirects</a>
{% endif %}

{% include "footer.html" %}

</body>
</html>