<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RedirectTest Home</title>
</head>
<body>
<h1>Welcome</h1>
<h3>Trying to work with redirects but cant find a site using the one you need? Look no further. This site provides:</h3>
<ul>
    <li><a href="/meta">Meta Redirects</a></li>
    <li><a href="/java">Javascript Redirects</a></li>
    <li><a href="/code/301">301 Redirects</a></li>
    <li><a href="/code/302">302 Redirects</a></li>
    <li><a href="/code/303">303 Redirect</a></li>
    <li><a href="/code/307">307 Redirect</a></li>
    <li><a href="/code/308">308 Redirects</a></li>
</ul>
</body>
</html>